.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/public/default-monochrome-black.svg') no-repeat;
    background-size:contain;
    position: relative;
}
.header-contents{
    position: absolute;
    justify-content: center;
    gap: 1.5vw;
    max-width: 50%;
    top: 50%;
    left: 40%;
    animation: fadeIn 3s;
}
.header-contents h2{
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: aliceblue;
    font-weight:500;
    color: rgb(246, 63, 2);
    font-size: max(4.5vw,22px);
}
.header-contents p{
    background-color: aliceblue;
    color: rgb(247, 5, 5);
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #cc0707;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: rgb(231, 202, 8);
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}