.order {
    padding: 20px;
  }
  
  .order h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 20px 0;
    font-size: 14px;
    color: #505050;
  }
  
  .order-item-food,
  .order-item-name {
    font-weight: 600;
  }
  
  .order-item-name {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .order-item-address {
    margin-bottom: 10px;
  }
  
  .order-item select {
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
  }
  
  .order-item img {
    width: 50px;
    height: auto;
  }
  
  .order-item-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  @media (max-width: 1000px) {
    .order-item {
      grid-template-columns: 0.5fr 2fr 1fr;
      padding: 15px;
      gap: 15px;
      font-size: 12px;
    }
  
    .order-item select {
      padding: 5px;
      font-size: 12px;
    }
  
    .order-item img {
      width: 40px;
    }
  }
  
  @media (max-width: 600px) {
    .order-item {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .order-item select {
      width: 100%;
    }
  
    .order-item img {
      width: 30px;
    }
  
    .order-item-food {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  
    .order-item-food img {
      width: 20px;
      height: 20px;
    }
  }