.product-details {
    padding: 20px;
    text-align: center;
}

.product-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-details h1 {
    margin-bottom: 20px;
}

.product-details p {
    margin-bottom: 10px;
}

.product-details button {
    padding: 8px 16px;
    border: none;
    background-color: #ff5100;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.view-cart-button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    font-size: 1.5rem;
    padding: 10px 10px;
    background-color: #042fc9;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1000;
}